<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ recipe_name }}</title>
</head>
<body>
<h2>{{ recipe_name }}</h2>
<div class="div1">
    <p style="display: inline-block">Кол-во порций:  </p>
    <form style="display: inline-block" method="get" action="{% url 'recipe' recipe_key=recipe_key %}">
        <input id="myinput" type="text" name="servings" size="5">
    </form>
</div>
<ol>
{% for ingredient, amount in ingredients.items %}
    <li><p>{{ ingredient }}: {{ amount | floatformat:2 }}</p></li>
{% empty %}
    <li><p>Такого рецепта не знаю :(</p></li>
{% endfor %}
</ol>
<a href="{% url 'home' %}">Назад к рецептам</a>
</body>
</html>